.add-property {
    display: flex;
    flex-direction: column;
    padding-top: 50%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(179, 122, 244);
    border-radius: 30px;

}

#type, #title, #email, #city {
    margin-bottom: 30px;
    border-radius: 5px;
}

#price, #bedrooms, #bathrooms {
    margin-bottom: 20px;
    width: 40px;
    margin-left: 20px;
    border-radius: 5px;
}
