.alert {
    width: 400px;
    height: 40px;
    border-radius: 5px;
}

.alert.alert-success {
    border: 10px solid green;
    background-color: aquamarine;

}

.alert.alert-error {
    border: 10px solid salmon;
    background-color: lightcoral;
}