.navbar {
    background-color: white;
    border-bottom: 5px solid grey;
    height: 20vh;
    display: flex;
    justify-content: center;
}

.navbar-links {
    display: inline-block;
}
.navbar-links-item {
    margin-left: 50px;
    font-size: 50px;
    text-decoration: none;
    color: red;
    font-weight:bolder;
}

.logo {
    margin-top: 10px;
    margin-right: 500px;
    width:15.5vw;
    height:11vh;
}