.navbar {
    display: flex;
    flex-direction: column;
    background-color: rgb(127, 68, 127);
    border-radius: 50px;
    width: 42%;
    height: 100vh;
    z-index: 1;
}

.navbar-links {
    display:flex;
    flex-direction: column;
    width: 55%;
    align-items: flex-end;
}

.navbar-links-item {
    text-decoration: none;
    font-size: 10px;
    color: rgb(14, 4, 4);
    margin-top: 100px;
    padding: 5px;
    border: 5px solid rgb(137, 69, 137);
    border-radius: 15%;
    background-color: rgb(170, 152, 237);
}

.logo {
   width: 100vw;
}